<%#  <%= render '/refinery/content_page' %>

  <div class="hero">    
    <div class="row">
      <%# <p>Pa artesà i ecològic a la Garrotxa.</p> %>
      <div class="large-12 columns intro-text">
        <p>
          <%# <p>Pa artesà i ecològic a la Garrotxa.</p> %>
        </p>
      </div>
      <div class="intro-text">
        <p>Pa artesà i ecològic a la Garrotxa.</p>
      </div>
    </div>
  </div>

  <div class="row about">
    <div class="medium-6 large-8 columns">
      <%= raw(@page.content_for(:body)) %>
    </div>
    <div class="medium-6 large-4 columns">
      <%# <img src="http://placehold.it/550x300"> %>
    </div>
  </div>

  <div class="row work">
    <hr>
    <div class="large-12 columns">
      <%= raw(@page.content_for(:side_body)) %>
    </div>
  </div>

  <div class="row contact">
    <hr>
    <div class="large-12 columns">
      <h4>Contact Me</h4>
      <div class="large-4 columns">
        <strong>Email</strong>
      </div>
      <div class="large-4 columns">
        <strong>Twitter</strong>: @twitterhandle
      </div>
      <div class="large-4 columns">
        <strong>Phone</strong>: 555-555-1234
      </div>
    </div>
  </div>

      