<div class='row'>
  <div class='large-12 column'>
    <%= render '/refinery/content_page' %>
  </div>
</div>

<hr>

<% @videos = videos_in_home_page %>
<%= render "refinery/videos/videos_in_home" %>

<hr>

<div class='row'>
  <div class='large-12 column'>
    <p> <%= link_to t('back_to_home'), root_path %> </p>
  </div>
</div>
