
<% if false %>
  <ul>
    <li>
      <%= link_to t('.create_new'), refinery.new_image_slideshows_admin_image_slideshow_path,
                   :class => "add_icon" %>
    </li>
  </ul>
<% end %>

<p>
  Aqui pots editar les imatges que surten a la pagina d'inici.<br><br>
  <strong>
    Per un correcte funcionament del carrousel d'imatges, totes les imatges han de tenir
    les mateixes dimensions.
  </strong><br><br>

  Es recomana que les imatges tinguin unes dimensions de <strong>1000 x 400 pixels</strong>

</p>