
<%#  <p> 
  
  <%# <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> 
<%# </p> %>

<div class="row contact">
  <hr>
  <div class="large-12 columns">
    <h4>Contacte</h4>
    <div class="mail-to large-4 columns">
      <a href="mailto:cafelafogaina@gmail.com">
        <i class="fi-mail"></i> cafelafogaina@gmail.com
      </a></br>
      <a href="mailto:fornlafogaina@gmail.com">
        <i class="fi-mail"></i> fornlafogaina@gmail.com
      </a>
    </div>

    <div class="large-4 columns">
      <strong>La Fogaina Pa i Cafè</strong></br>
        <i class="fi-telephone"></i> 661 38 09 55 / <i class="fi-telephone"></i> 639 26 48 63</br>
      <strong>La Fogaina</strong></br>
        <i class="fi-telephone"></i> 646 87 90 62       
    </div>

    <div class="social-icons large-4 columns">
      <%#<a href="https://twitter.com/fogaina?lang=es" class="fc-webicon twitter small">
      </a>  %>
      <a href="https://twitter.com/fogaina?lang=es" target="_blank">
        <i class="fi-social-twitter"></i>
      </a>
      <a href="https://www.facebook.com/fornlafogaina/" target="_blank">
        <i class="fi-social-facebook"></i>
      </a>
      <a href="https://www.instagram.com/explore/locations/461148922/" target="_blank">
        <i class="fi-social-instagram"></i>
      </a>
   
    </div>

  </div>
</div>
