
.top-bar-section {
  background: white;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: black;
  background: white;
}

.top-bar-section ul li > a {
  font-family: Mountains of Christmas Regular;
  font-size: 1.5rem;
}