#header img {
  max-width: 100px;
}

.top-bar-section ul li {
  background: white;
}

.top-bar-section ul li > a {
	font-size: 1rem;
}

.top-bar-section ul.locale-switch li > a {
  font-size: 0.8rem;
}