.top-bar-section ul li {
  background: white;
}

.top-bar-section ul li > a {
	font-size: 1.2rem;
}

.top-bar-section ul.locale-switch li > a {
  font-size: 0.8rem;
}

.logo-header {
  margin-top: 5px;
  margin-bottom: 5px;
}