#page_container {
	margin: 25px 25px;	
}

#header {
	margin: 25px 25px;	
}

#side_body {
  margin: 25px 25px;
  float: left; // Side body to be placed side by side instead of below.
  p {
    color: #777;
  }
}