body{ 
	font-family:'Raleway',Helvetica,Arial,sans-serif;
	font-weight:400;
}

.button{
	font-family:'Raleway',Helvetica,Arial,sans-serif;
}

.button-group li{
	padding-top:3%;
}

.button-group a{
	color:rgba(0,0,0,1);
	background-color:transparent;
}

.button-group a:hover{
	color:rgba(0,0,0,0.4);
	background-color:transparent;
}

.button-group{
	float:none;
}

.namelogo{
	padding:20px 10px 0px 10px;
}

.namelogo h1{
	font-size:1.5em;font-weight:600;
	text-align:center;
}

.intro-text{
	color:rgba(255,255,255,1);
}

.intro-text p{
	font-family:'Shadows Into Light',cursive;
	font-size:32px;
}

.side-body img{
	  padding:0px 10px 20px 10px;
}

footer{
	padding:80px 0 10px 0;
}

footer a:hover{
	color:rgba(0,0,0,0.4);
	background-color:transparent;
}

//.header-text {
//	font-family: "Mountains of Christmas Bold";
//}

#map-fogaina {
  width: 650px;
  height: 600px;
  margin-bottom: 20px;
}

.social-icons a {
  color: inherit; 
}

.mail-to a {
  color: inherit; 
}

.social-icons a i {
  font-size: 2rem;
}


